<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webdez</title>
    <link rel="stylesheet" href="../static/assets/css/style2.css" />
  </head>
  <body>
    <div class="body">
      <div class="leftside">
        <div class="leftcontents">
          <h4 class='heading'>Login</h4>
          <div>
            <h6>Username</h6>
            <input type="text" class="inputbox" />
          </div>
          <div>
            <h6>Password</h6>
            <input type="password" class="inputbox"  style="margin-bottom: 39px;"/>
          </div>
         <button class="login-button">Log in</button>
        </div>
      </div>
      <div class="rightside">
        <div class='imga'>
          <img src="../static/assets/images/Logo-vertical.svg" class="logo">
        <!--<img src="images/texturebg1.svg" class="image" />-->
        </div>
      </div>
    </div>
  </body>
</html>
